<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->


<!-- on idle -->
<!-- @defer{
<app-footer></app-footer>
} @placeholder (minimum 4s) {
  <div class="box">Loading...</div>
} -->

<!-- on idle -->
@defer{
<app-footer></app-footer>
} @placeholder {
  <div class="box">Loading...</div>
}


<!-- on viewport -->
<!-- @defer(on viewport){
<app-footer></app-footer>
} @placeholder {
  <div class="box">Loading...</div>
} -->


<!-- on interaction -->
<!-- @defer (on interaction){
<app-footer></app-footer>
} @placeholder {
  <div class="box">Loading...</div>
} -->

<!-- on hover -->
<!-- @defer (on hover){
<app-footer></app-footer>
} @placeholder {
  <div class="box">Loading...</div>
} -->

<!-- on immediate -->
<!-- @defer (on immediate){
<app-footer></app-footer>
} @placeholder {
  <div class="box">Loading...</div>
} -->

<!-- on timer -->
<!-- @defer (on timer(500ms)){
<app-footer></app-footer>
} @placeholder {
  <div class="box">Loading...</div>
} -->


<!-- when condition -->
<!-- @defer (when condition){
<app-footer></app-footer>
} @placeholder {
  <div class="box">Loading...</div>
} -->

<!-- @defer{
<app-footer></app-footer>
} @error {
  <div class="box">Error Occured...</div>
} -->


<!-- @defer{
<app-footer></app-footer>
} @loading {
  <div class="box">Loading...</div>
} -->


<!-- @defer{
<app-footer></app-footer>
} @loading (after 1s; minimum 2s) {
  <app-spinner></app-spinner>
} -->